<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write your blog</title>
    <link rel="icon" href="https://fav.farm/🧠" />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Create a new Blog</h2>
    <form method="post">
        <div class="form-container">
            <input placeholder="Enter your name" name="username" required>
            <br><br>
            <textarea placeholder="Type your content here" name="content" rows="10" cols="20"></textarea>
            <br><br>
            <div class="button">
                <button>Post</button>
            </div>
        </div>
    </form>
    
</body>
</html>